.newsletter__content {
  list-style: none;
  padding:0;
  margin:0;
}

.newsletter__title {
  margin-bottom:$small-spacing * 0.5;
  letter-spacing: -0.1rem;
}

.newsletter__date {
  font-weight: normal;
  color:$blue;
}

.newsletter__introduction {
  margin-bottom: $base-spacing * 2;
}

.newsletter__content__section {
  margin-bottom:$base-spacing;
  border:1px solid $light-grey;
  border-radius: $base-border-radius;
}

.newsletter__content__section__header {
  position: relative;
  padding:2rem;
  cursor: pointer;

  &:hover {
    background-color: tint($red, 85%);
  }

  @include grid-media($grid__l-up) {
    padding:2rem 3rem;
  }
}

.newsletter__content__section__title {
  margin-bottom:$small-spacing;
  word-break: break-all;
  color:$blue;

  @include grid-media($grid__l-up) {
    padding-right:12rem;
  }
}

.newsletter__content__section__introduction {
  font-style: italic;
  color:$blue;
}

.newsletter__content__section__articles {
  padding:2rem;

  @include grid-media($grid__l-up) {
    padding:2rem 3rem;
  }
}

.newsletter__content__section__box {
  padding:2rem;
  border:1px solid $red;
  border-radius: $base-border-radius;
  margin-top:$base-spacing * 2;
}

.newsletter__content__section__box__title {
  color:$blue;
}

.newsletter__content__section__header__arrow-indicator {
  @include font-size(11, 11);
  color:$red;
  font-weight:bold;
  cursor:pointer;
}
.newsletter__content__section__header__arrow-indicator--in-article {
  display: block;
  margin-top:$base-spacing * 2;
}
.newsletter__content__section__header__arrow-indicator-container {

  @include grid-media($grid__l-up) {
    position: absolute;
    top:1rem;
    right:3rem;
    margin-top:0;
  }
}

.newsletter__back-link {
  @include font-size(11, 11);
  text-transform: uppercase;
}