* {
  z-index: z('default');
}

html {
  min-height:100%;
}
body {
  min-height:100%;
  overflow-x: hidden;
  background-color:#efefef;
}

hr {
  background-color: $blue;
  border: 0;
  height: 1px;
  margin: $base-spacing * 2 0;
}